<% if type == 'new' %>
    <% action_url = users_url %>
    <% button_text = 'Sign Up' %>
<% else %>
    <% action_url = user_url(user) %>
    <% button_text = 'Edit User' %>
<% end %>

<form action="<%= action_url %>" method="POST">
    <% if type == 'edit' %>
        <input type="hidden" name='_method' value='PATCH'>
    <% end %>

    <label>Username:
        <input type="text" name="user[username]" value="<%= user.username %>">
    </label>

    <label>Age:
        <input type="text" name="user[age]" value="<%= user.age %>">
    </label>

    <label>Password:
        <input type="password" name="user[password]" value="">
    </label>

    <input type="submit" value="<%= button_text %>">
</form>